.test-Transactions__container {
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.test-Transactions__header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}

.test-Transactions__element {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.test-Transactions__attribute {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.test-Transactions__description {
    flex: 2;
    padding: 20px;
    text-align: center;
}

.test-Transactions__element:hover {
    background: #930000;
}